<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="emojis">
      <img
        *ngFor="let item of emojisArray"
        [ngClass]="{'activated':selectedEmojiId === item.id} "
        [src]="item.imgSrc"
        [alt]="item.title"
        [id]="item.id"
        #item.id
      />
    </div>
    <div class="range-container">
      <ion-range
        aria-label="Emotions Range"
        [ticks]="true"
        [snaps]="true"
        [min]="1"
        [max]="5"
        (ionKnobMoveEnd)="ionKnobMoveEnd($event)"
      ></ion-range>
    </div>
  </div>
</ion-content>
