.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .emojis {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin-top: 10px;

    & .activated {
      transform: translateY(-85%) scale(1.5);
      opacity: 1;

    }

    img {
      width: 30px;
      opacity: 0;
      transition: all ease 1s;
    }


  }

  .range-container {
    width: 70%;
  }

}